body{
 display: flex;
 align-items : center;
 flex-direction : column;
font-size:20px;
background-color: #BDBDBD;

}

h1{

	color:blue;
	text-align: center;
	border: solid blue 7px;
	padding: 50px;
	
}
h2{
	font-size: 28px;
	color: red;
	text-align: center;

}
img{
	width: 60%;

	
	
}
p{
	font-size: 22px;
}